<form #addForm="ngForm"  (ngSubmit)="add()">

  <label>Nom</label>
  <input type="text" class="form-control" id="name"
  required [(ngModel)]="recipe.name" name="name">

  <label>Description</label>
  <input type="text" class="form-control" id="description"
  required [(ngModel)]="recipe.description" name="description">


  <label>Picture</label>
  <input type="text" class="form-control" id="picture"
  required [(ngModel)]="recipe.picture" name="picture">



  <label>Ingredient Name</label>
  <input type="text" class="form-control" id="ingredientName"
  required [(ngModel)]="ingredient.name" name="ingredientName">
   <label>Quantity</label>
   <input type="text" class="form-control" id="quantity"
   required [(ngModel)]="recipeIngredient.quantity" name="quantity">
   <label>Unit</label>
   <input type="text" class="form-control" id="unit"
   required [(ngModel)]="recipeIngredient.unit" name="unit">


  <button type="submit" class="btn btn-primary">Ajouter</button>




</form>

<pre>{{ addForm.value | json }}</pre>


<form #deleteForm="ngForm"  (ngSubmit)="delete()">

  <label>Id</label>
  <input type="text" class="form-control" id="id"
  required [(ngModel)]="recipe.id" name="id">

  <button type="submit" class="btn btn-primary">Supprimer</button>

</form>
